name: Release

on:
    push:
        branches:
            - main

jobs:
    test:
        strategy:
            matrix:
                os: [ubuntu-latest]
                node-version: [12.x, 14.x, 16.x]

        runs-on: ${{ matrix.os }}
        steps:
            - uses: actions/checkout@v2
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}
            - uses: actions/setup-node@v2.5.0
              with:
                  cache: 'npm'
                  node-version: ${{ matrix.node-version }}
            - run: npm it

    release:
        needs: [test]
        runs-on: ubuntu-latest
        steps:
            - uses: actions/setup-node@v2.5.0
              with:
                  cache: 'npm'
                  node-version: 16
            - uses: actions/checkout@v2
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}

            - run: npm i
            - run: npm run build

            - name: Semantic release
              uses: codfish/semantic-release-action@v1
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  NPM_TOKEN: ${{ secrets.NPM_PUBLISH_TOKEN }}
