name: DryRun Release

on: [workflow_dispatch]

jobs:
    release:
        needs: [test]
        runs-on: ubuntu-latest
        steps:
            - uses: actions/setup-node@v2
              with:
                  node-version: 16
            - uses: actions/checkout@v2
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}

            - name: Install dependencies
              run: npm i

            - name: Semantic release
              uses: codfish/semantic-release-action@v1
              with:
                  dry_run: true
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  NPM_TOKEN: ${{ secrets.NPM_PUBLISH_TOKEN }}
                  GIT_AUTHOR_NAME: '${{ github.actor }}'
                  GIT_COMMITTER_NAME: '${{ github.actor }}'
